{% extends "base.html" %}
{% load static %}
{% block title %}Thanh toán khoản thu{% endblock %}
{% block content %}
<style>
  .custom-icon-size {
    font-size: 1.5em;
    /* Adjust the size as needed */
  }

  .custom-image-size {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;

  }
</style>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h4 class="m-0 font-weight-bold text-primary">Thanh toán khoản thu</h4>
  </div>
  <div class="card-body">
      <form method="POST" action="{% url 'chonSinhVien' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
              <input class="form-control" id="idSV" name="sinhVien" hidden>
              <div class="form-group mt-2">
                <label class="fw-bold">Mã sinh viên</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img class="custom-image-size" src="{% static 'images/sinhvien.png' %}" alt="Image">
                      <!-- Replace with the path to your image -->
                    </span>
                  </div>
                <input class="form-control" id="maSV" oninput="getSVInfo()" style="width: 50px;" required>
                </div>
              </div>
              <div class="form-group mt-2">
                <label class="fw-bold  ">Họ tên : </label>
                <label id="hoTen"></label>
              </div>
              <div class="form-group mt-2">
                <label class="fw-bold  ">Ngày sinh : </label>
                <label id="ngaySinh"></label>
              </div>
              <div class="form-group mt-2">
                <label class="fw-bold  ">Quê quán : </label>
                <label id="queQuan"></label>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group mt-2">
                  <label class="fw-bold  ">Khóa nhập học : </label>
                  <label id="khoaHoc"></label>
              </div>
              <div class="form-group mt-2">
                  <label class="fw-bold  ">Hệ đào tạo : </label>
                  <label id="heDaoTao"></label>
              </div>
              <div class="form-group mt-2">
                  <label class="fw-bold  ">Tên ngành : </label>
                  <label id="tenNganh"></label>
              </div>
              <div class="form-group mt-2">
                  <label class="fw-bold  ">Khoa : </label>
                  <label id="khoa"></label>
              </div>
              <div class="form-group mt-2">
                  <label class="fw-bold  ">Lớp : </label>
                  <label id="lop"></label>
              </div>
            </div>
          </div>          
          <br/>
          <center><button type="submit" class="btn btn-primary mt-3 mb-5">Xác nhận</button></center>
          
      </form>
  </div>
</div>
<script>
  function getSVInfo() {
        var inputIdSV = document.getElementById('idSV');
        var inputSV = document.getElementById('maSV');
        var labelHoten = document.getElementById('hoTen');
        var labelNgaySinh = document.getElementById('ngaySinh');
        var labelQueQuan = document.getElementById('queQuan');
        var labelKhoaHoc = document.getElementById('khoaHoc');
        var labelHeDaoTao = document.getElementById('heDaoTao');
        var labelTenNganh = document.getElementById('tenNganh');
        var labelKhoa = document.getElementById('khoa');
        var labelLop = document.getElementById('lop');
        var maSV = inputSV.value;
        inputIdSV.value = ""
        labelHoten.textContent = ""
        labelQueQuan.textContent = ""
        labelNgaySinh.textContent = ""
        labelKhoaHoc.textContent = "";
        labelHeDaoTao.textContent = "";
        labelTenNganh.textContent = "";
        labelKhoa.textContent = "";
        labelLop.textContent = "";
        {% for value in listSinhVien %}
          if ("{{ value.maSV }}" == maSV) {
            inputIdSV.value = "{{ value.id }}"
            labelHoten.textContent = "{{ value.hoTen }}"
            labelQueQuan.textContent = "{{ value.queQuan }}"
            labelNgaySinh.textContent = "{{ value.ngaySinh }}"
            labelKhoaHoc.textContent = "{{ value.lop.khoaHoc.namKhoaHoc }}"
            labelHeDaoTao.textContent = "{{ value.lop.heDaoTao.tenHeDaoTao }}"
            labelTenNganh.textContent = "{{ value.lop.nganhDaoTao.tenNganhDaoTao }}"
            labelKhoa.textContent = "{{ value.lop.khoa.tenKhoa }}"
            labelLop.textContent = "{{ value.lop.lop }}"
          }
      {% endfor %}
    }

    
</script>

{% endblock %}