{% extends "base.html" %}
{% load static %}
{% load humanizelib %}
{% block title %}Sửa kế hoạch thu{% endblock %}
{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h4 class="m-0 font-weight-bold text-primary">Sửa kế hoạch thu</h4>
  </div>
  <div class="card-body">
        <form method="POST" action="{% url 'suaKeHoachThu' keHoachThu.id %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-4">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Kế hoạch năm</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/namhoc.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="khoaHoc" id="khoaHoc">
                      {% for value in cacKhoaHoc %}
                          {% if value == keHoachThu.khoaHoc %}
                          <option value="{{ value.id }}" selected>{{ value.namKhoaHoc }}</option>
                          {% else %}
                          <option value="{{ value.id }}">{{ value.namKhoaHoc }}</option>
                          {% endif %}
                      {% endfor %}
                  </select>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Ngày bắt đầu</label>
                  <input class="form-control" type="date" name="ngayBatDau" value="{{ keHoachThu.ngayBatDau|date:'Y-m-d' }}"/>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Ngày kết thúc</label>
                  <input class="form-control" type="date" name="ngayKetThuc" value="{{ keHoachThu.ngayKetThuc|date:'Y-m-d' }}"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Hệ đào tạo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/hedaotao.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="heDaoTao" id="heDaoTao" onchange="handleComboboxChange()" required>
                    <option value=""></option>
                    {% for value in cacHeDaoTao %}
                      {% if value == keHoachThu.nganhDaoTao.heDaoTao %}
                          <option value="{{ value.tenHeDaoTao }}" selected>{{ value.tenHeDaoTao }}</option>
                      {% else %}
                          <option value="{{ value.tenHeDaoTao }}">{{ value.tenHeDaoTao }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Tên ngành</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/nganhdaotao.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="nganhDaoTao" id="nganhDaoTao" required>
                    <option value=""></option>
                    {% for value in cacNganhDaoTao %}
                      {% if value == keHoachThu.nganhDaoTao %}
                          <option value="{{ value.id }}" selected>{{ value.tenNganhDaoTao }}</option>
                      {% else %}
                          <option value="{{ value.id }}">{{ value.tenNganhDaoTao }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Khoản thu</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/khoanthu.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="khoanThu" required>
                    <option value=""></option>
                    {% for value in cacKhoanThu %}
                      {% if value == keHoachThu.khoanThu %}
                          <option value="{{ value.id }}" selected>{{ value.tenKhoan }}</option>
                      {% else %}
                          <option value="{{ value.id }}">{{ value.tenKhoan }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                    </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Đợt thu</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/heso.png' %}" alt="Image">
                      </span>
                    </div>
                  <input type="number" value="{{ keHoachThu.dotThu }}" class="form-control" name="dotThu" min="0" step="1" required>
                </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Số tiền</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/sotien.png' %}" alt="Image">
                      </span>
                    </div>
                  <input type="text" class="form-control" name="soTien" id="soTien" data-type="currency" value="{{ keHoachThu.soTien }}" required></input>
                </div>
                </div>
              </div>
            </div>
              <div class="form-group mt-2">
                <label class="fw-bold  ">Nội dung</label>
                <textarea class="form-control" name="noiDung"  rows="3" >{{ keHoachThu.noiDung }}</textarea>
              </div>
              <button type="submit" class="btn btn-primary mt-3">Xác nhận</button>
              <a class="btn btn-danger mt-3" href="##" onClick="history.go(-1); return false;">Hủy</a>
        </form>
    </div>
</div>
<script>
  
  $(document).ready(function() {
  $("input[data-type='currency']").on({
    keyup: function() {
      formatCurrency($(this));
    },
    blur: function() { 
      formatCurrency($(this), "blur");
    }
  }).trigger('keyup').trigger('blur');

  // Additional code or functions can be included here as well
});


    function formatNumber(n) {
    return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }


    function formatCurrency(input, blur) {
    var input_val = input.val();
    if (input_val === "") { return; }
    var original_len = input_val.length;
    var caret_pos = input.prop("selectionStart");
    if (input_val.indexOf(".") >= 0) {
        var decimal_pos = input_val.indexOf(".");
        var left_side = input_val.substring(0, decimal_pos);
        var right_side = input_val.substring(decimal_pos);
        left_side = formatNumber(left_side);
        right_side = formatNumber(right_side);
        if (blur === "blur") {
        right_side += "00";
        }
        right_side = right_side.substring(0, 2);
        input_val = left_side + "." + right_side;
    } else {
        input_val = formatNumber(input_val);
        input_val = input_val ;
    }
    input.val(input_val);
    var updated_len = input_val.length;
    caret_pos = updated_len - original_len + caret_pos;
    input[0].setSelectionRange(caret_pos, caret_pos);
    }
  function handleComboboxChange() {
    var cmbHeDaoTao = document.getElementById('heDaoTao');
    var cmbNganhDaoTao = document.getElementById('nganhDaoTao');
    var selectedValue = cmbHeDaoTao.value;
    selectedValue = selectedValue.trim();
    
    cmbNganhDaoTao.innerHTML = '';
    
    {% for value in cacNganhDaoTao %}
      if ("{{ value.heDaoTao.tenHeDaoTao }}" == selectedValue) {
        var newOption = document.createElement('option');
        newOption.value = "{{ value.id }}";
        newOption.textContent = "{{ value.tenNganhDaoTao }}";
        cmbNganhDaoTao.appendChild(newOption);
      }
    {% endfor %}
  }
  window.onload = handleComboboxChange1()
</script>
{% endblock %}