{% extends "base.html" %}
{% load static %}
{% block title %}Xem kế hoạch thu{% endblock %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Xem kế hoạch thu</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <dl class="dl-horizontal">
                <strong>Kế hoạch năm</strong> : {{ keHoachThu.khoaHoc.namKhoaHoc }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Ngày bắt đầu</strong> : {{ keHoachThu.ngayBatDau }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Ngày kết thúc</strong> : {{ keHoachThu.ngayKetThuc }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Tên hệ</strong> : {{ keHoachThu.nganhDaoTao.heDaoTao.tenHeDaoTao }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Tên ngành</strong> : {{ keHoachThu.nganhDaoTao.tenNganhDaoTao }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Khoản thu</strong> : {{ keHoachThu.khoanThu.tenKhoan }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Đợt thu</strong> : {{ keHoachThu.dotThu }}
            </dl>
            <dl class="dl-horizontal">
                <strong>Số tiền</strong> : {{ soTien }}
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Nội dung : 
                </dt>
                <dd>
                    {{ keHoachThu.noiDung }}
                </dd>
            </dl>
        </div>
    </div>
</div>{% endblock %}