{% extends "base.html" %}
{% load static %}
{% block title %}Xác nhận xóa kế hoạch thu{% endblock %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Xác nhận xóa kế hoạch thu</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <dl class="dl-horizontal">
                <dt>
                    Kế hoạch năm
                </dt>
                <dd>
                    {{ keHoachThu.khoaHoc.namKhoaHoc }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Ngày bắt đầu
                </dt>
                <dd>
                    {{ keHoachThu.ngayBatDau }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Ngày kết thúc
                </dt>
                <dd>
                    {{ keHoachThu.ngayKetThuc }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Tên hệ
                </dt>
                <dd>
                    {{ keHoachThu.nganhDaoTao.heDaoTao.tenHeDaoTao }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Tên ngành
                </dt>
                <dd>
                    {{ keHoachThu.nganhDaoTao.tenNganhDaoTao }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Khoản thu
                </dt>
                <dd>
                    {{ keHoachThu.khoanThu.tenKhoan }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Đợt thu
                </dt>
                <dd>
                    {{ keHoachThu.dotThu }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Số tiền
                </dt>
                <dd>
                    {{ soTien }}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Nội dung
                </dt>
                <dd>
                    {{ keHoachThu.noiDung }}
                </dd>
            </dl>
            <div class="form-group">
                <div class="col-md-offset-2 ">
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="Xóa" class="btn btn-primary" />
                        <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Hủy</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}