{% extends "base.html" %}
{% load static %}
{% load humanizelib %}
{% load l10n %}
{% block title %}Danh sách khoản thu học phí trong lớp{% endblock %}
{% block content %}
<style>
    .bigger-icon {
        font-size: 1.2em;
        color: #000;
    }
    
    .bigger-icon a {
        text-decoration: none;
    }
</style>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách khoản thu học phí trong lớp : {{ lop.lop }}</h4>
                </div>
                <div class="col-6">
                    <a href={% url 'newKhoanThuHocPhi' lop.id %}><button class = "btn btn-success float-end" >Thêm khoản thu học phí</button></a>
                    <a href={% url 'addKhoanThuHocPhi' lop.id %}><button class = "btn btn-success float-end mx-2" >Thêm khoản thu cho lớp</button></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if alertContent == "Thêm" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Thêm khoản thu học phí thành công!</strong>
              </div>
            {% endif %}
            {% if alertContent == "Sửa" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Sửa khoản thu học phí thành công!</strong>
              </div>
            {% endif %}
            {% if alertContent == "Xóa" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Xóa khoản thu học phí thành công!</strong>
              </div>
            {% endif %}
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Mã sinh viên
                    </th>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Năm học
                    </th>
                    <th>
                        Học kỳ
                    </th>
                    <th>
                        Hệ đào tạo
                    </th>
                    <th>
                        Tên ngành
                    </th>
                    <th>
                        Hạn nộp
                    </th>
                    <th>
                        Số tiền
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Thao tác
                    </th>
                    </thead>
                    <tbody>
                        {% for khoanThu in listKhoanThuHocPhi %}
                            <tr id="{{ khoanThu.id }}">
                                <td>{{ khoanThu.sinhVien.maSV }}</td>
                                <td>{{ khoanThu.sinhVien.hoTen }}</td>
                                <td>{{ khoanThu.mucHocPhi.namHoc }}</td>
                                <td>
                                    {% if khoanThu.mucHocPhi.hocKy == True %}
                                        <center>Học kỳ 1</center>
                                    {% else %}
                                        <center>Học kỳ 2</center>
                                    {% endif %}
                                </td>                                
                                <td>{{ khoanThu.mucHocPhi.heDaoTao }}</td>
                                <td>{{ khoanThu.mucHocPhi.tenNganh }}</td>
                                <td>{{ khoanThu.hanNop }}</td>
                                <td>{{ khoanThu.soTien|intcomma|localize }}</td>
                                <td>
                                    {% if khoanThu.trangThai == True %}
                                        <center class="text-success">Đã nộp</center>
                                    {% else %}
                                        <center class="text-danger">Chưa nộp</center>
                                    {% endif %}
                                </td>   
                                <td style="text-align: center;">
                                    <a href="{% url 'xemKhoanThuHocPhi' khoanThu.id %}">
                                        <i class="fas fa-circle-info bigger-icon"></i>
                                    </a>
                                    <a href="{% url 'suaKhoanThuHocPhi' khoanThu.id %}">
                                        <i class="fas fa-pen-to-square bigger-icon"></i>
                                    </a>
                                    <a href="{% url 'xoaKhoanThuHocPhi' khoanThu.id %}">
                                        <i class="far fa-trash-alt bigger-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
            <div class="row">
                <div class="col-9">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách sinh viên trong lớp : {{ lop.lop }}</h4>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Mã sinh viên
                    </th>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Quê quán
                    </th>
                    <th>
                        Lớp
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Thao tác
                    </th>
                    </thead>
                    <tbody>
                        {% for sinhVien in ListSinhVien %}
                            <tr id="{{ sinhVien.id }}">
                                <td>{{ sinhVien.maSV }}</td>
                                <td>{{ sinhVien.hoTen }}</td>
                                <td>{{ sinhVien.ngaySinh }}</td>
                                <td>{{ sinhVien.queQuan }}</td>
                                <td>{{ sinhVien.lop.lop }}</td>
                                <td>
                                    {% if sinhVien.trangThai %}
                                        <center class="text-success">Đang học</center>
                                    {% else %}
                                        <center class="text-danger">Nghỉ học</center>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    <a href="{% url 'xemCacKhoanThuSV' sinhVien.id %}">
                                        <i class="fas fa-circle-info bigger-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<script>
    // Auto-close the alert after 3 seconds (3000 milliseconds)
    setTimeout(() => {
      document.getElementById('myAlert').remove();
    }, 3000);
</script>
<script type="text/javascript">
    $(document).ready(function () {
       // Setup - add a text input to each footer cell
       $('#dataTable thead tr')
           .clone(true)
           .addClass('filters')
           .appendTo('#dataTable thead');
   
       var table = $('#dataTable').DataTable({
           orderCellsTop: true,
           fixedHeader: true,
           initComplete: function () {
               var api = this.api();
   
               // For each column
               api.columns().eq(0).each(function (colIdx) {
                   if(colIdx !== 9)
                   {
                       if (colIdx === 5) {
                       // Set the header cell to contain the input element with a specific width
                       var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                       var title = $(cell).text();
                       var inputWidth = '170px'; // Set your desired width for the input element
                       $(cell).html('<input type="text" style="width: ' + inputWidth + ';" placeholder="" />');
                       } else {
                       // For other columns, set the default behavior
                       var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                       var title = $(cell).text();
                       $(cell).html('<input type="text" style="width: 100px;" placeholder="" />');
                       }
                   }
                   else
                   {
                       var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                       $(cell).html(' ');
                   }
                   // On every keypress in this input
                   $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                       .off('keyup change')
                       .on('change', function (e) {
                           // Get the search value
                           $(this).attr('title', $(this).val());
                           var regexr = '({search})'; //$(this).parents('th').find('select').val();
   
                           var cursorPosition = this.selectionStart;
                           // Search the column for that value
                           api
                               .column(colIdx)
                               .search(
                                   this.value != ''
                                       ? regexr.replace('{search}', '(((' + this.value + ')))')
                                       : '',
                                   this.value != '',
                                   this.value == ''
                               )
                               .draw();
                       })
                       .on('keyup', function (e) {
                           e.stopPropagation();
   
                           $(this).trigger('change');
                           $(this)
                               .focus()[0]
                               .setSelectionRange(cursorPosition, cursorPosition);
                       });
               });
           },
           language: {
               searchPlaceholder: 'Tìm kiếm',
               search: '',
               sInfo: 'Hiển thị _START_ đến _END_ của _TOTAL_ mục',
               sInfoEmpty: 'Hiển thị 0 đến 0 của 0 mục',
               sInfoFiltered: 'Lọc từ _MAX_ mục',
               sLengthMenu: 'Hiện _MENU_ mục',
               sEmptyTable: 'Không có dữ liệu',
           },
           stateSave: true,
           dom:
               '<"clear"><"row"<"col"l><"col"f>>rt<"row"<"col"i><"col"p>><"row"<"col"B>>',
               buttons: [
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':not(:last-child)',
                    }, title: ''
                }, {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':not(:last-child)',
                    }, title: ''
                }
            ],
       });
       $('#dataTable2').DataTable({
            language: {
                searchPlaceholder: "Tìm kiếm",
                search: "",
                "sInfo": "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                "sInfoEmpty": "Hiển thị 0 đến 0 của 0 mục",
                "sInfoFiltered": "Lọc từ _MAX_ mục",
                "sLengthMenu": "Hiện _MENU_ mục",
                "sEmptyTable": "Không có dữ liệu",

            },
            stateSave: true,
            dom: '<"clear"><"row"<"col"l><"col"f>>rt<"row"<"col"i><"col"p>><"row"<"col"B>>',
            buttons: [
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':not(:last-child)',
                    }, title: ''
                }, {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':not(:last-child)',
                    }, title: ''
                }
            ]
        });
       $('.dataTables_filter input[type="search"]').css({
           width: '350px',
           display: 'inline-block',
           height: '40px',
       });
   });
   </script>
{% endblock %}
