{% extends "base.html" %}
{% load static %}
{% block title %}Thêm mức học phí{% endblock %}
{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h4 class="m-0 font-weight-bold text-primary">Thêm mức học phí</h4>
  </div>
  <div class="card-body">
        <form method="POST" action="{% url 'newMucHocPhi' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Hệ đào tạo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/hedaotao.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="heDaoTao" id="heDaoTao" onchange="handleComboboxChange1()" required>
                    <option value=""></option>
                    {% for value in cacHeDaoTao %}
                        <option value="{{ value.tenHeDaoTao }}">{{ value.tenHeDaoTao }}</option>
                    {% endfor %}
                </select>
                </div>
                </div>
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Năm học</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/namhoc.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="namHoc" id="namHoc" required>
                    <option value=""></option>
                    {% for value in cacNamHoc %}
                        <option value="{{ value.namHoc }}">{{ value.namHoc }}</option>
                    {% endfor %}
                </select>
                </div>
                </div>
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Khoa</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/khoa.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="khoa" id="khoa" onchange="handleComboboxChange1()" required>
                    <option value=""></option>
                    {% for value in cacKhoa %}
                        <option value="{{ value.tenKhoa }}">{{ value.tenKhoa }}</option>
                    {% endfor %}
                    </select>
                </div>
                </div>
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Tên ngành</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/nganhdaotao.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="tenNganh" id="tenNganh" onchange="handleComboboxChange1()" required>
                    </select>
                    </div>
                </div>
    
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Lớp</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/lop.png' %}" alt="Image">
                      </span>
                    </div>
                  <select class="form-control combobox" name="lop" id="lop" required>
                    <option value=""></option>
                    {% for value in cacLop %}
                        <option value="{{ value.lop }}">{{ value.lop }}</option>
                    {% endfor %}
                    </select>
                </div>
                </div>
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Hệ số</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/heso.png' %}" alt="Image">
                      </span>
                    </div>
                  <input type="number" class="form-control" name="heSo" min="0" step="1" required>
                </div>
                </div>
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Số tiền</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img class="custom-image-size" src="{% static 'images/muchocphi.png' %}" alt="Image">
                      </span>
                    </div>
                  <input type="text" class="form-control" name="soTien" id="currency-field" value="" data-type="currency" required>
                </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Xác nhận</button>
                <a class="btn btn-danger mt-3" href="##" onClick="history.go(-1); return false;">Hủy</a> 
              </div>
              <div class="col-6">
                <div class="form-group mt-2">
                  <label class="fw-bold  ">Học kỳ</label>
                  <br/>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="hocKy" id="hocKy1" value="True" required>
                      <label class="form-check-label" for="hocKy1">Học kỳ 1</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="hocKy" id="hocKy2" value="False" required>
                      <label class="form-check-label" for="hocKy2">Học kỳ 2</label>
              </div>
              <br/>
              <label class="fw-bold mt-3">Tính chất</label>
              <div class="form-check mb-3 mt-1">
                <label class="form-check-label" for="isNganhHai">
                  Ngành 2
                </label>
                <input class="form-check-input" name="isNganhHai" type="checkbox" value="True" id="isLanhDao">
              </div>
              <div class="form-check mb-3 mt-3">
                <label class="form-check-label" for="isMienGiam">
                  Miễn giảm
                </label>
                <input class="form-check-input" name="isMienGiam" type="checkbox" value="True" id="isMienGiam">
              </div>
              <div class="form-check mb-3 mt-3">
                <label class="form-check-label" for="isHocLai">
                  Học lại, cải thiện
                </label>
                <input class="form-check-input" name="isHocLai" type="checkbox" value="True" id="isHocLai">
              </div>
              <div class="form-check mb-3 mt-3">
                <label class="form-check-label" for="isMonGDTC">
                  Môn GDTC
                </label>
                <input class="form-check-input" name="isMonGDTC" type="checkbox" value="True" id="isMonGDTC">
              </div>
              <div class="form-check mb-3 mt-3">
                <label class="form-check-label" for="isChatLuongCao">
                  Chất lượng cao
                </label>
                <input class="form-check-input" name="isChatLuongCao" type="checkbox" value="True" id="isChatLuongCao">
            </div>
          </div>
        </form>
      </div>
 
</div>
<script>
  
$("input[data-type='currency']").on({
    keyup: function() {
      formatCurrency($(this));
    },
    blur: function() { 
      formatCurrency($(this), "blur");
    },
    
});


function formatNumber(n) {
  // format number 1000000 to 1,234,567
  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}


function formatCurrency(input, blur) {
  // appends $ to value, validates decimal side
  // and puts cursor back in right position.
  
  // get input value
  var input_val = input.val();
  
  // don't validate empty input
  if (input_val === "") { return; }
  
  // original length
  var original_len = input_val.length;

  // initial caret position 
  var caret_pos = input.prop("selectionStart");
    
  // check for decimal
  if (input_val.indexOf(".") >= 0) {

    // get position of first decimal
    // this prevents multiple decimals from
    // being entered
    var decimal_pos = input_val.indexOf(".");

    // split number by decimal point
    var left_side = input_val.substring(0, decimal_pos);
    var right_side = input_val.substring(decimal_pos);

    // add commas to left side of number
    left_side = formatNumber(left_side);

    // validate right side
    right_side = formatNumber(right_side);
    
    // On blur make sure 2 numbers after decimal
    if (blur === "blur") {
      right_side += "00";
    }
    
    // Limit decimal to only 2 digits
    right_side = right_side.substring(0, 2);

    // join number by .
    input_val = left_side + "." + right_side;

  } else {
    // no decimal entered
    // add commas to number
    // remove all non-digits
    input_val = formatNumber(input_val);
    input_val = input_val ;
    
    // final formatting

  }
  
  // send updated string to input
  input.val(input_val);

  // put caret back in the right position
  var updated_len = input_val.length;
  caret_pos = updated_len - original_len + caret_pos;
  input[0].setSelectionRange(caret_pos, caret_pos);
}

  function handleComboboxChange1() {
    var cmbHeDaoTao = document.getElementById('heDaoTao');
    var cmbNganhDaoTao = document.getElementById('tenNganh');
    var cmbKhoa = document.getElementById('khoa');
    var selectedHeDaoTao = cmbHeDaoTao.value;
    var selectedKhoa = cmbKhoa.value;
    
    cmbNganhDaoTao.innerHTML = '';
    
    {% for value in cacNganhDaoTao %}
      if ("{{ value.heDaoTao.tenHeDaoTao }}" == selectedHeDaoTao && "{{ value.khoa.tenKhoa }}" == selectedKhoa) {
        var newOption = document.createElement('option');
        newOption.value = "{{ value.tenNganhDaoTao }}";
        newOption.textContent = "{{ value.tenNganhDaoTao }}";
        cmbNganhDaoTao.appendChild(newOption);
      }
    {% endfor %}
    var cmbKhoaHoc = document.getElementById('khoaHoc');
    var cmbLop = document.getElementById('lop');
    var selectedNganhDaoTao = cmbNganhDaoTao.value;
    
    cmbLop.innerHTML = '';
    
    console.log(selectedNganhDaoTao);
    {% for value in cacLop %}
      if ("{{ value.nganhDaoTao.tenNganhDaoTao }}" == selectedNganhDaoTao) {
        var newOption = document.createElement('option');
        newOption.value = "{{ value.lop }}";
        newOption.textContent = "{{ value.lop }}";
        cmbLop.appendChild(newOption);
      }
    {% endfor %}
  }

</script>

{% endblock %}