
{% load static %}
<title>{% block title %}{% endblock %}</title>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">

<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'DataTables/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'DataTables/DataTables-1.13.4/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'DataTables/Buttons-2.3.6/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'DataTables/pdfmake-0.2.7/pdfmake.min.js' %}"></script>
<script src="{% static 'DataTables/pdfmake-0.2.7/vfs_fonts.js' %}"></script>
<script src="{% static 'DataTables/Buttons-2.3.6/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'DataTables/Buttons-2.3.6/js/buttons.print.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .custom-icon-size {
      font-size: 1.5em;
      /* Adjust the size as needed */
    }
  
    .custom-image-size {
      width: 1.5em;
      height: 1.5em;
      object-fit: cover;
  
    }
  </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">UHL</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">

                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Thống kê</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Biểu đồ
                            </a>
                            <div class="sb-sidenav-menu-heading">Quản lý </div>
                            <a class="nav-link" href="{% url 'listDanhMucThuChi' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/danhmuc.png' %}"></div>
                                Danh mục thu chi
                            </a>
                            <a class="nav-link" href="{% url 'listMucHocPhi' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/muchocphi.png' %}"></div>
                                Thiết lập mức học phí
                            </a>
                            <a class="nav-link" href="{% url 'listKhoanThuHocPhi' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/khoanthu.png' %}"></div>
                                Danh sách khoản thu học phí
                            </a>
                            <a class="nav-link" href="{% url 'listKhoanThuNhapHoc' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/namhoc.png' %}"></div>
                                Khoản thu nhập học
                            </a>
                            <a class="nav-link" href="{% url 'listKeHoachThu' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/kehoachthu.png' %}"></div>
                                Kế hoạch thu
                            </a>
                            <a class="nav-link" href="{% url 'chonSinhVien' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/hocphi.png' %}"></div>
                                Chi trả học phí
                            </a>
                            <a class="nav-link" href="{% url 'chonBaoCao' %}">
                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/report.png' %}"></div>
                                Báo cáo thu
                            </a>

                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% block content %}
  
                        {% endblock %}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">

                    </div>
                </footer>
            </div>
        </div>
    </body>
    
</html>